@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main {
  font-family: Poppins, sans-serif;
  padding: 0;
}

button[value=Confirm] {
  margin-right: 5px;
}


mat-dialog-content > p {
  text-align: center;
  font-family: Poppins, sans-serif;
}

.mat-dialog-title {
  font-size: 18px;
  font-family: Poppins, sans-serif;
}

.mat-body-1 {
  font-size: 14px;
  font-family: Poppins, sans-serif;
}

mat-icon {
  margin-left: 257px;
  margin-bottom: 0;
  color: #929292;
}



