@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.bg-color{
background: linear-gradient(-135deg, #c850c0, #4158d0);
  font-family: 'Poppins';
}
li{
  margin-left: 10px;
}

.navbar-brand{
  color: white;
  font-size: 30px;
}
