<body>
<mat-card>
  <div class="colCustom ">

    <div class="photo-container">
      <a [routerLink]="['/calendar']" >
        <img alt="Event App" src="assets/eventApp3.png" width="250px" height="230px">
      </a>
    </div>

    <div class=" login-container">
      <div>
        <form [formGroup]="loginForm">
          <mat-card-title>Login</mat-card-title>
          <mat-card-content>

            <mat-form-field class="email" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="email@example.com" formControlName="email" required>
            </mat-form-field>
            <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">{{emailErrorMessage()}}</mat-error>

            <div>
              <mat-form-field class="password" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type={{type}} formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="getType()" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                  <mat-icon>{{hide}}</mat-icon>
                </button>
              </mat-form-field>
            <mat-error *ngIf="loginForm.get('password').hasError('required')&& loginForm.get('password').touched">{{"Password required"}}</mat-error>
            </div>
            <br>
            <button
              class="authButton"
              mat-raised-button
              color="primary"
              (click)="Login()"
              [disabled]="!loginForm.valid"
            >Login
            </button>

          </mat-card-content>
        </form>
        <div class="signup_link">
          <a class="home_link" [routerLink]="['/calendar']">
            Home
            <mat-icon class="moveDown material-symbols-outlined">home</mat-icon>
          </a>
          <a [routerLink]="['/auth/signup']">
            Create Account
            <mat-icon class="moveDown material-symbols-outlined">person_add</mat-icon>
          </a>
        </div>
<!--        <div class="home_link">-->

<!--        </div>-->
      </div>
    </div>
  </div>
</mat-card>


</body>
