@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.main {
  font-family: 'Poppins';
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  mat-card-content{
    display: flex;
    flex-direction: column;
  }
}

