@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


li {
  margin-left: 10px;
}

nav>div>a.navbar-brand {
  color: white;
  font-size: 40px;
  font-weight: 600;
  transition-duration: 0.3s;
}

nav>div>a.navbar-brand:hover {
  color: white;
  transform: scale(1.2) translateX(10px);
}

#navbarSupportedContent > ul > li.nav-item.d-flex > button {
  border-radius: 10px;
}

//Profile Icon
.account-display {
  margin-top: 5px;
  margin-right: 55px;
  width: 1px;
  height: 1px;
}

li > button {
  max-height: 40px;
  margin-top: 17px;
}

li > mat-icon {
  font-size: 40px;
  color: white;
  margin-left: 13px;
}

li > p{
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-align: left;
  letter-spacing: 0.5px;
}

div>ul>li:first-child{
  margin-right: 20px;
}

.backBtn{
  border-radius: 50%;
  margin-left: 35px;
  transition: 0.5s;
  background-color: #23272C;
}

.backBtn:hover{
  border-radius: 50%;
  margin-left: 35px;
  transition: 0.5s;
  transform: scale(1.050);
}

