<nav class="navbar navbar-expand-lg navbar-light bg-color ">
  <div class="container-fluid ">
    <a class="navbar-brand">
      <img src="assets/eventApp3.png" width="80" height="80" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item" *ngIf="this.user">
          <div class="account-container">
            <div class="row mt-1 mx-0   justify-content-start">
              <div class="col-1">
                <img class="mt-1" src="assets/user.png" width="30px" height="30px">
              </div>
              <div class="col-2">
                <p class="accName pb-2 ps-3 pe-0">{{name}}</p>
              </div>
            </div>
          </div>
        </li>
        <button *ngIf="this.user" class="backBtn" mat-fab color="accent" (click)="onSignOut()">
          <mat-icon>logout</mat-icon>
        </button>

        <div *ngIf="!this.user">
          <button type="button" class="btn border-2 btn-outline-light me-2" (click)="Login()">Login</button>
          <button type="button" class="btn border-2 btn-outline-success" (click)="SignUp()">Sign Up</button>
        </div>
      </ul>
    </div>
  </div>
</nav>
