<nav class="navbar navbar-expand-lg navbar-light bg-color">
  <div class="container-fluid">
    <a class="navbar-brand">Event App</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <div class="account-container ">
            <div style="margin-left: 0" class="row mt-2 justify-content-start">
              <div class="col-2">
                <img class="accIcon" src="assets/user.png" width="38px" height="38px">
              </div>
              <div class="col-2">
                <p class="accName mt-2 mx-4">{{name}}</p>
              </div>
            </div>
          </div>
        </li>
        <button class="backBtn" mat-fab color="accent" (click)="onSignOut()">
          <mat-icon>logout</mat-icon>
        </button>

      </ul>
    </div>
  </div>
</nav>
