@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.bg-color{

  font-family: 'Poppins';
}
li{
  margin-left: 10px;
}

.navbar-brand{
  color: white;
  font-size: 30px;
}

#navbarSupportedContent > ul > li.nav-item.d-flex > button{
  border-radius: 10px;

}
