@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


li {
  margin-left: 10px;
}

nav>div>a.navbar-brand {
  color: white;
  font-size: 35px;
  font-weight: 600;
  transition-duration: 0.3s;
}

nav>div>a.navbar-brand:hover {
  color: white;
  transform: scale(1.2) translateX(10px);
}

#navbarSupportedContent > ul > li.nav-item.d-flex > button {
  border-radius: 10px;
}

//Profile Icon
.account-display {
  margin-top: 5px;
  margin-right: 25px;
  width: 50px;
  height: 50px;

}

li > button {
  max-height: 40px;
  margin-top: 17px;
}

li > mat-icon {
  width: 40px;
  height: 40px;
  font-size: 50px;
  color: white;
}

li > p{
  font-size: 18px;
  font-weight: 600;
  color: white;
  transform: translateX(-8px);
  letter-spacing: 0.5px;
  //margin-right: 15px;
}

.logout{
  //transform: translateY(10px) translateX(-5px);
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21,140,186;
  --bs-secondary-rgb: 240,240,240;
  --bs-success-rgb: 40,182,44;
  --bs-info-rgb: 117,202,235;
  --bs-warning-rgb: 255,133,27;
  --bs-danger-rgb: 255,65,54;
  --bs-light-rgb: 246,246,246;
  --bs-dark-rgb: 85,85,85;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 34,34,34;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: 0.75s;
  color: #fff;
  background-color: #E6127DFF;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  border-color: #E6127DFF;
  cursor: pointer;
  margin-left: .75em;
}
.logout:hover{
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21,140,186;
  --bs-secondary-rgb: 240,240,240;
  --bs-success-rgb: 40,182,44;
  --bs-info-rgb: 117,202,235;
  --bs-warning-rgb: 255,133,27;
  --bs-danger-rgb: 255,65,54;
  --bs-light-rgb: 246,246,246;
  --bs-dark-rgb: 85,85,85;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 34,34,34;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  //margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  //transition: 0.75s;
  color: #fff;
  background-color: #E6127DFF;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  border-color: #E6127DFF;
  cursor: pointer;
  margin-left: .75em;
  transform: translateY(10px) scale(1.15);
  }

//E6127DFF
