@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

ul > li {
  list-style-type: none;
}

.all{
  padding: 7px 27px;
}

h1{
  font-family: Poppins,sans-serif;
  font-size: 35px;
  text-align: center;
}

h2 {
  font-family: Poppins,sans-serif;
  text-align: start;
}

p{
  font-family: Poppins,sans-serif;
  text-align: start;
}

button.mat-focus-indicator.mat-raised-button.mat-button-base {
  margin-left: 79%;
  margin-bottom: 46px;
}
