body{
  background: linear-gradient(-135deg,#c850c0,#4158d0);
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowCustom {
  display: flex;
}

.colCustom {
  flex: 1 1 auto;
}

.bg {
  padding: 20px 20px;
  background-color: white;
}

mat-card{
  border-radius: 15px;
  max-height: 92vh;
}

.login-container {
  margin-top: 60px;
  margin-left: 320px;
  margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.photo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 100px;
}

//fName and lName, pass and confPass
.groups{
  font-family: 'Poppins',sans-serif;
  display: flex;
  justify-content: flex-start;
}

// Width of Name Group
mat-form-field.nameWidth{
  width: 244px;
}

.email{
  margin-bottom: 0;
  width:100%;
  font-family: 'Poppins',sans-serif;
}

h1{
  font-weight: bolder;
  font-size: 28px;
  padding-left: 25px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

img {
  border-radius: 15px;
  width: 250px;
  height: 230px;
  transition: 2.0s;
}

img:hover{
  transform: rotate3d(13, 8, 5, 360deg);
}

mat-form-field{
  font-family: 'Poppins',sans-serif;
}

input::placeholder{
  font-family: 'Poppins',sans-serif;
  font-weight: bolder;
  padding-left: 30px;
}

.authButton{
  margin-top: 30px;
  width: 350px;
  height: 50px;
  transition: .4s;
  font-family: 'Poppins' ,sans-serif;
}

.signup_link{
  display: flex;
  justify-content: flex-start;
  font-family: 'Poppins',sans-serif;
  font-size: 13px;
  margin-left: 200px;
  margin-top: 30px;
  color: #666666;
}

a{
  text-decoration: none;
  color: #666;
  transition:all .4s;
  -webkit-transition: all .4s;
}

a:hover {
  text-decoration: none;
  color: #57B846;
}

input[type='submit']:hover{
  background-color: #343434;
  cursor: pointer;
}

.endPart{
  display: flex;
  justify-content: center;
}


