@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

mat-form-field {
  width: 500px;
}

.main {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;

  button[mat-fab] {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

mat-card-title {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.font {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-weight: bolder;
  font-size: 45px;
  padding-left: 25px;
  margin-bottom: 50px;
  letter-spacing: 1px;
  transform: translateY(-100px) translateX(60px);
}

.input {
  font-family: 'Poppins', sans-serif;
}

input::placeholder {
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  padding-left: 30px;
}

.backBtn {
  transition: .6s;
}

.backBtn:hover {
  transition: .6s;
  transform: scale(1.15);
}

.mat-card > .mat-card-actions:last-child {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.sendButton {
  margin-top: 15px;
  width: 225px;
  height: 50px;
  transition: .7s;
  font-family: 'Poppins', sans-serif;
}

.thebuttons {
  display: flex;
}

//Material Dragable Card
.example-box {
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

//Material Dragable Card
.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
