* {
  font-family: 'Poppins', sans-serif;
}

mat-icon {
  transform: translateY(5px);
}

.cuRectangle {
  border: #DDC09B solid 3px;
  border-radius: 2px;
}

.h4 {
  color: #dcb584;
}

.cuFont {
  font-size: 18px;
  color: #DDC09B;
}

.btn {
  width: 120px
}

.cuContainerMain {
  border-radius: 3px;
}
