<nav class="navbar navbar-dark bg-dark">

  <div class="container-fluid">
    <a class="navbar-brand" routerLink="../">
      <mat-icon>
        arrow_back_ios
      </mat-icon>
      Back To Calendar
    </a>
  </div>

</nav>

<div class="container-fluid cuContainerMain bg-white col-10 align-items-center justify-content-center mt-5">
  <div class="row">
    <div class="col-4">
      <h1 class="mx-5 pt-5 text-primary">
        My Profile
      </h1>
    </div>
  </div>

  <div class="row">

    <div class="col-2">
      <p class="h4 mx-5 mt-5">First Name</p>

      <div class="col-10">
        <div class="mx-5 mt-2 container bg-white cuRectangle">
          <p class="mb-0 mx-2 p-2 h6 cuFont">{{firstName}}</p>
        </div>
      </div>

    </div>

    <div class="col-2">
      <p class="h4 mx-5 mt-5">Last Name</p>

      <div class="col-10">
        <div class="mx-5 mt-2 container bg-white cuRectangle">
          <p class="mb-0 mx-2 p-2 h6 cuFont">{{lastName}}</p>
        </div>
      </div>
    </div>

    <div class="col-2">
      <p class="h4 mx-5 mt-5">Email</p>

      <div class="col-10">
        <div class="mx-5 mt-2 container bg-white cuRectangle">
          <p class="mb-0 pt-2 pb-2 h6 cuFont">{{email}}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-5 pt-5">
    <div class="col-2">
      <p class="h4 mx-5 mt-5">Image</p>

      <div class="col-auto">
        <div class="mx-5 mt-2 container bg-white cuRectangle">
          <img class="p-2 justify-content-center align-items-center" src="{{imgUrl}}"
               alt="{{firstName + lastName + 'Image'}}" width="200" height="200">
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-5 pt-1">
    <div class="col-1 p-0 m-0">
      <button class="btn btn-outline-primary">Update</button>
    </div>
    <div class="col-1 p-0 m-0">
      <button class="btn btn-outline-danger">Clear</button>
    </div>
  </div>

  <div class="row mx-5 pt-5"><br></div>
  <div class="row mx-5 pt-5"><br></div>


</div>
