/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a.fc-daygrid-day-number{
  color: white;
}
.fc-toolbar-title{
  color: white;
  font-family: 'Poppins';
}

span.text-muted{
  color: white;
}
