/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  overflow: auto;
  font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
  background-image: url('assets/BG.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}

// logout mat icon moved a bit up within the button
.mat-fab .mat-button-wrapper {
  padding: 9px 0 !important;;
  display: inline-block;
  line-height: 24px;
}

//ENTIRE STYLE UPDATE , LUMEN THEME COPIED FROM FULL CALENDAR API
//Calendar next BTN HOVER
body > app-root > app-calendar-grid > full-calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > div > button.fc-next-button.fc-button.fc-button-primary:hover {
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21, 140, 186;
  --bs-secondary-rgb: 240, 240, 240;
  --bs-success-rgb: 40, 182, 44;
  --bs-info-rgb: 117, 202, 235;
  --bs-warning-rgb: 255, 133, 27;
  --bs-danger-rgb: 255, 65, 54;
  --bs-light-rgb: 246, 246, 246;
  --bs-dark-rgb: 85, 85, 85;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 34, 34, 34;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  position: relative;
  flex: 1 1 auto;
  background-color: #158cba;
  z-index: 1;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 1px;
  border-bottom-width: 3px;
  border-color: #137ea7;
}

//Calendar next BTN
body > app-root > app-calendar-grid > full-calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > div > button.fc-next-button.fc-button.fc-button-primary {
  margin-right: 20px;
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21, 140, 186;
  --bs-secondary-rgb: 240, 240, 240;
  --bs-success-rgb: 40, 182, 44;
  --bs-info-rgb: 117, 202, 235;
  --bs-warning-rgb: 255, 133, 27;
  --bs-danger-rgb: 255, 65, 54;
  --bs-light-rgb: 246, 246, 246;
  --bs-dark-rgb: 85, 85, 85;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 34, 34, 34;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #158cba;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  border-color: #137ea7;
  cursor: pointer;
  position: relative;
  flex: 1 1 auto;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

//Calendar previous BTN HOVER
body > app-root > app-calendar-grid > full-calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > div > button.fc-prev-button.fc-button.fc-button-primary {

  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21, 140, 186;
  --bs-secondary-rgb: 240, 240, 240;
  --bs-success-rgb: 40, 182, 44;
  --bs-info-rgb: 117, 202, 235;
  --bs-warning-rgb: 255, 133, 27;
  --bs-danger-rgb: 255, 65, 54;
  --bs-light-rgb: 246, 246, 246;
  --bs-dark-rgb: 85, 85, 85;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 34, 34, 34;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #158cba;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  border-color: #137ea7;
  cursor: pointer;
  position: relative;
  flex: 1 1 auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

//Calendar previous BTN
body > app-root > app-calendar-grid > full-calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > div > button.fc-prev-button.fc-button.fc-button-primary:hover {
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21, 140, 186;
  --bs-secondary-rgb: 240, 240, 240;
  --bs-success-rgb: 40, 182, 44;
  --bs-info-rgb: 117, 202, 235;
  --bs-warning-rgb: 255, 133, 27;
  --bs-danger-rgb: 255, 65, 54;
  --bs-light-rgb: 246, 246, 246;
  --bs-dark-rgb: 85, 85, 85;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 34, 34, 34;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  position: relative;
  flex: 1 1 auto;
  background-color: #158cba;
  z-index: 1;
  margin-top: 1px;
  border-bottom-width: 3px;
  border-color: #137ea7;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

//Calendar today BTN
body > app-root > app-calendar-grid > full-calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > button {
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21, 140, 186;
  --bs-secondary-rgb: 240, 240, 240;
  --bs-success-rgb: 40, 182, 44;
  --bs-info-rgb: 117, 202, 235;
  --bs-warning-rgb: 255, 133, 27;
  --bs-danger-rgb: 255, 65, 54;
  --bs-light-rgb: 246, 246, 246;
  --bs-dark-rgb: 85, 85, 85;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 34, 34, 34;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #158cba;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  border-color: #137ea7;
  cursor: pointer;
  margin-left: .75em;
}

//Calendar today BTN HOVER
body > app-root > app-calendar-grid > full-calendar > div.fc-header-toolbar.fc-toolbar > div:nth-child(3) > button:hover {
  --fc-daygrid-event-dot-width: 8px;
  --fc-list-event-dot-width: 10px;
  --fc-list-event-hover-bg-color: #f5f5f5;
  --bs-blue: #158cba;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #ff4136;
  --bs-orange: #fd7e14;
  --bs-yellow: #ff851b;
  --bs-green: #28b62c;
  --bs-teal: #20c997;
  --bs-cyan: #75caeb;
  --bs-white: #fff;
  --bs-gray: #999;
  --bs-gray-dark: #333;
  --bs-gray-100: #f6f6f6;
  --bs-gray-200: #f0f0f0;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #999;
  --bs-gray-700: #555;
  --bs-gray-800: #333;
  --bs-gray-900: #222;
  --bs-primary: #158cba;
  --bs-secondary: #f0f0f0;
  --bs-success: #28b62c;
  --bs-info: #75caeb;
  --bs-warning: #ff851b;
  --bs-danger: #ff4136;
  --bs-light: #f6f6f6;
  --bs-dark: #555;
  --bs-primary-rgb: 21, 140, 186;
  --bs-secondary-rgb: 240, 240, 240;
  --bs-success-rgb: 40, 182, 44;
  --bs-info-rgb: 117, 202, 235;
  --bs-warning-rgb: 255, 133, 27;
  --bs-danger-rgb: 255, 65, 54;
  --bs-light-rgb: 246, 246, 246;
  --bs-dark-rgb: 85, 85, 85;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 34, 34, 34;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #222;
  --bs-body-bg: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  direction: ltr;
  margin: 0;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  border-style: solid;
  border-width: 0 1px 4px 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #158cba;
  margin-left: .75em;
  margin-top: 1px;
  border-bottom-width: 3px;
  border-color: #137ea7;
}


//Calendar Title   month/year  July/2022 ex
.fc-toolbar-chunk {
  font-size: 25px;
  font-style: italic;
  color: white;
}

.fc-toolbar-title {
  color: white;
  font-family: 'Poppins', sans-serif !important;
  font-style: italic !important;
}


//Calendar border
table.fc-theme-standard.fc-scrollgrid {
  border: 3px solid white;
}

//Calendar day number
a.fc-daygrid-day-number {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

//Calendar days of the week
a.fc-col-header-cell-cushion {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #00A9EE;
}


//Event Title
div.fc-event-title.fc-sticky {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}


//main event div
div.fc-event-main {
  padding: 5px;
}

//main event time
div.fc-event-time {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}



//Dialogs Responsive
@media (min-width: 1537px) {

  //Delete confirm container
  .custom-dialog-container .mat-dialog-container {
    display: block;
    padding: 0 4px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 30vh;
    height: 23vh;
    min-height: inherit;
    max-height: inherit;
  }

  //Delete Inform Dialog
  .custom-dialog-container-delete .mat-dialog-container {
    display: block;
    padding: 0 4px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 29vh;
    height: 11vh;
    min-height: inherit;
    max-height: inherit;
  }

  .custom-dialog-container .mat-dialog-content {
    display: block;
    margin: 0 -3px;
    padding: 0 23px;
    max-height: 65vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

//All mat-input-forms & DIALOGS on screens less than 1536 px
@media (max-width: 1536.98px) {

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 5px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  //Delete confirm container
  .custom-dialog-container .mat-dialog-container {
    display: block;
    padding: 0 4px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 40vh;
    height: 30vh;
    min-height: inherit;
    max-height: inherit;
  }

  //Delete Inform Dialog
  .custom-dialog-container-delete .mat-dialog-container {
    display: block;
    padding: 0 4px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 39vh;
    height: 14vh;
    min-height: inherit;
    max-height: inherit;
  }

  .custom-dialog-container .mat-dialog-content {
    display: block;
    margin: 0 -3px;
    padding: 0 23px;
    max-height: 65vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

}

//Tablet
@media (max-width: 768.98px) {

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 5px !important;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }

  //Delete confirm container
  .custom-dialog-container .mat-dialog-container {
    display: block;
    padding: 0 4px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 34vh;
    height: 26vh;
    min-height: inherit;
    max-height: inherit;
  }

  //Delete Inform Dialog
  .custom-dialog-container-delete .mat-dialog-container {
    display: block;
    padding: 0 4px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 32vh;
    height: 12vh;
    min-height: inherit;
    max-height: inherit;
  }

  .custom-dialog-container .mat-dialog-content {
    display: block;
    margin: 0 -3px;
    padding: 0 23px;
    max-height: 65vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

}

//Login --> email field
body > mat-card > div > div.login-container > div > form > mat-card-content > mat-form-field > div{
  //margin: 0;
  padding: 0;
}

body > mat-card > div > div.login-container > div > form > mat-card-content > div > mat-form-field > div{
  padding-bottom: 0;
}
