<!--<div class="main">-->
<!--  <h1 mat-dialog-title>-->
<!--    {{data.title}}-->
<!--  </h1>-->
<!--  <div mat-dialog-content>-->
<!--    {{data.message}}-->
<!--  </div>-->
<!--  <div class="btnGroup">-->

<!--    <button-->
<!--      mat-stroked-button-->
<!--      color="primary"-->
<!--      type="button"-->
<!--      value="Confirm"-->
<!--      [mat-dialog-close]="true">-->
<!--      <mat-icon>check</mat-icon>-->
<!--    </button>-->

<!--    <button-->
<!--      mat-stroked-button-->
<!--      color="warn"-->
<!--      type="button"-->
<!--      value="Cancel"-->
<!--      [mat-dialog-close]="false">-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>-->

<!--  </div>-->
<!--</div>-->
<mat-dialog-content>
  <p>
    {{data.message}}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" value="Confirm" tabindex="1"  [mat-dialog-close]="true">Yes</button>
  <button mat-raised-button mat-dialog-close tabindex="-1">Cancel</button>
</mat-dialog-actions>
