<div class="main">
  <button class="close" mat-icon-button mat-dialog-close tabindex="-1">
    <mat-icon>close</mat-icon>
  </button>
  <div class="body">
    <mat-dialog-content>
      <p class="mat-dialog-title">
        {{data.title}}
      </p>
      <p class="mat-body-1">
        {{data.message}}
      </p>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
      <button mat-raised-button class="cancel" mat-dialog-close tabindex="-1">Cancel</button>
      <button mat-raised-button class="confirm" value="Confirm" tabindex="1" [mat-dialog-close]="true">Confirm</button>
    </mat-dialog-actions>
  </div>
</div>
