
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.main {
  width: 17vw;
  height: 17vh;
  font-family: Poppins,sans-serif;
}

button[value=Confirm]{
  margin-right: 5px;
}

.btnGroup{
  margin-left: 170px;
  margin-top: 70px;
}


// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  .main {
    width: 20vw;
    height: 20vh;
    font-family: Poppins,sans-serif;
  }

  button[value=Confirm]{
    margin-right: 5px;
  }

  .btnGroup{
    margin-left: 170px;
    margin-top: 70px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1537px) {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  .main {
    width: 17vw;
    height: 17vh;
    font-family: Poppins,sans-serif;
  }

  button[value=Confirm]{
    margin-right: 5px;
  }

  .btnGroup{
    margin-left: 170px;
    margin-top: 70px;
  }
}
